@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
}


h1 {
    margin: 0;
}

body {
    font-family: 'Roboto', arial;
    color: #fff;
    font-size: 20px;
    background: #2c2c2c;
}

.liveGame__interface {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.liveGame__interface-title {
    font-size: 20px;
}

.liveGame__interface-form {
    margin-left: 150px;
}

.liveGame__interface-form-top {
    display: flex;
    align-items: center;
}

.liveGame__interface-form-bottom {
    margin-top: 8px;
    font-size: 11px;
}

.map {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
}

.liveGame__board {
    display: block;
    margin: 25px auto 0 auto;
    border: 3px solid #fff;
}

.liveGame__interface-form-buttons {
    margin: auto 0 0 20px;
}

.liveGame__interface-button {
    margin-right: 3px;
    align-self: flex-end;
}

.liveGame__time-render {
    position: absolute;
    top: 70px;
    right: 70px;
    font-size: 20px;
}

.liveGame__interface-help {
    margin-top: 8px;
    font-size: 11px;
    max-width: 300px;
}